ENVIRONMENT=development

# VK
VK_API_TOKEN=string
VK_GROUP_ID=123456 # число из адреса vk.com/club123456

# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost/database
DATABASE_URL_SYNC=postgresql://user:password@localhost/database